* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 30%;
  background-color: #6FA8DC;
}

.menu .profile-img {
  width: 10rem;
}

.menu .profile-name {
  font-size: 2rem;
}

.menu .profile-link {
  font-size: 1.5rem;
}

.menu .menu-items {
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.menu-items p {
  font-size: 2.5rem;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px 75px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  background: #EEEEEE;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #FFFFFF;
}

.nav .logo {
  font-size: 2rem;
  padding: 0 20px;
}

.nav .buttons {
  font-size: 2rem;
  padding: 0 20px;
}

.buttons .button {
  font-size: 1.25rem;
  padding: 10px 25px;
}

.main .content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.main .content p {
  font-size: 1.25rem;
  font-weight: 600;
}

 table, th, td {
   border:1px solid black;
 }