
body{
  overflow-x: hidden;
  font-family: Helvetica, serif;
  background-color: unset;

}

 /* HEADER */
 .headerBar{
  color: black;
    position: absolute;
    width: 78vw;
    height: 8vw;
    background-color: white;
    font-size: 2.5vw;
    float: right;
    left: 20vw;
    top: 0vw;
    margin :0px ;
    padding :0px ;
    margin-left:4vw;
  }
.divGauche p{
  position: relative;
  left:-25vw;
  top:1.3vw;
  font-size: 2vw;
}
.divDroite button{
  position: relative;
  top:-4vw;
  left:28vw;
  font-size: 2vw;
  background-color: white;
  border: none;
  
}

/* NAVIGATION */

.menu {
  position: fixed;
  top:0vw;
  left: -2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 25%;
  background-color: #6FA8DC;
  z-index: 2;
}
.menu-items{
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.menu img{
  width: 8vw;
  height: auto;
}

.menu img:hover {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.25); /* Safari et Chrome */
  -moz-transform: scale(1.25); /* Firefox */
  -ms-transform: scale(1.25); /* Internet Explorer 9 */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
}

.menu p{
  position: relative;  
  top:-1vw;
}


 /* LE BLOC CENTRAL */
 .mainBlock{
  color: black;
 position: fixed;
 width: 100vw;
 height: 100%;
 background-color: #DCDCDC;
 font-size: 2.5vw;
 float: right;
 left: 14vw;
 top: 8vw;
 margin :0px ;
 padding :0px ;
 margin-left:6vw;

}
h1{
  position: relative;
  font-size: 2vw;
  text-align: center;
  left: -7vw;
  top: 2vw;
  z-index: 100;
}

.mainBlock img {
  position: relative;
  top:2vw;
  left: 25vw;
  width: 5vw;
  height: 5vw;
}

.mainBlock table{
  position: relative;
  top:2vw;
  left: -5vw;
  font-size: 1.2vw;
  column-width: 0.5vw;
  margin: auto;

/* Mettre flou
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);*/
}

table,thead,td{
  border-bottom: 1px solid #333;
  border-collapse:collapse;
  padding: 2vw;
  text-align :center;

}

.listStudents th{
  display: unset;
  position: relative;
  right: 12vw;
  margin: auto;
  padding-left: 4.3vw;
  text-align :center;


}

.listMaterials th{
  display: unset;
  position: relative;
  right: 17vw;
   margin: auto;
  padding-left: 7vw;
  text-align :center;


}

.listLoans th{
  display: unset;
  position: relative;
  right: 7vw;
   margin: auto;
  padding-left: 5.5vw;
  text-align :center;


}




.btn_delete{
  width: 8vw;
  height: 4vh;
  background-color: #CD5C5C;
  color:white;
  border-radius: 5px;
  font-size: 1vw;
  border-color:#CD5C5C ;
}

.btn_update,.btn_valide,.bouton_update,#generateBC{
  width: 8vw;
  height: 4vh;
  background-color: #6FA8DC;
  border-radius: 5px;
  font-size: 1vw;
  border-color:#6FA8DC ;
  color:white;

  
}
.btn_update a {
  color:white;
}
a{
  text-decoration: none;
}

.btn_valide{
  position: relative;
  top: 2vw;
  left: -7vw;
  color:white;
  z-index: 100;

}
label{
	float: left;
  position: relative;
  top: 5vw;
  left: 25vw;
  
}


.bouton_update{
  position: relative;
  top: 7vw;
  left: -7vw;
  color:white;
  z-index: 100;

}



select{
  position: relative;
  top:1vw;
  left:3.9vw;
  width: 7vw;
}

.scroll{
  overflow-y: scroll;
  max-height: 700px;
  scroll-behavior: auto;
  overflow-x: hidden;
  
}

/*BOITE DE DIALOGUE*/
.b_dialog{
  position: relative;
  top:-45vh;
  left: 17vw;
  width: 40vw;
  height: 20vh;
  z-index: 200;
  border: 2vw;
  background-color: white;
  font-size: 1.5vw;
  padding: 3vw;

  
}

.b_dialog button{
  position: relative;
  top: 4vw;
 
}

.b_dialog .btn_update{
  position: relative;
  right: 3vw;

}

.b_dialog .btn_delete{
  position: relative;
  left: 3vw;

}

.b_confirmation{
  position: relative;
  top:-70vh;
  left: 23vw;
  width: 30vw;
  z-index: 200;
  border: 2vw;
  background-color: white;
  font-size: 1.5vw;
  padding: 3vw;
 
}

.b_confirmation button{
  position: relative;
  top: 1.5vw;
 
}

#searchBox{
  position: relative;
  left: -20vw;
  width: 20vw;
}


input:focus,textarea:focus{
  outline: 2px solid black;     
}

input[checkbox]{
  position: relative;
  width: 15vw;
}


/* ADD STUDENT*/
.formStudent form div{
  margin: 20px;
  position: relative;
  top:5vw;
  padding:1vw;

}

.formStudent form input, .formStudent form select{
  position: relative;
  top:0;
  z-index: 200;
}

.formStudent form label{
  position: relative;
  top:1vw;
  z-index: 200;
  font-size: 2vw;
}

.formStudent #name{
  position: relative;
  left: -2vw;
  width: 16vw;
}

.formStudent #lastname{
  position: relative;
  left: -3.2vw;
  width: 16vw;

}

.formStudent #phonenum{
  position: relative;
  left: -4.5vw;
  width: 16vw;

}

.formStudent #email{
  position: relative;
  left: -2.2vw;
  width: 16vw;

}

.formStudent #promotion-class{
  position: relative;
  left: -1.8vw;
  text-align: center;

}

.formStudent #promotion-cursus{
  position: relative;
  left: -1.5vw;
  text-align: center;

}

.formStudent #promotion-spec{
  position: relative;
  left: -1.2vw;
  text-align: center;

}

.formStudent button{
  position: relative;
  top: 0;
}

/* UPDATE STUDENT */

.updatetudent form div{
  margin: 20px;
  position: relative;
  top:0;
  padding:1vw;

}


.updatetudent form input, .formStudent form select{
  position: relative;
  top:0;
  z-index: 200;
}

.updatetudent form label{
  position: relative;
  top:1vw;
  z-index: 200;
  font-size: 2vw;
}

.updatetudent #id{
  position: relative;
  left: -4vw;
  width: 16vw;
}


.updatetudent #name{
  position: relative;
  left: -2vw;
  width: 16vw;
}

.updatetudent #lastname{
  position: relative;
  left: -3.2vw;
  width: 16vw;

}

.updatetudent #phonenum{
  position: relative;
  left: -4.5vw;
  width: 16vw;

}

.updatetudent #email{
  position: relative;
  left: -2.2vw;
  width: 16vw;

}

.updatetudent #promotion-class{
  position: relative;
  left: -1.8vw;
  top:0;
  text-align: center;

}

.updatetudent #promotion-cursus{
  position: relative;
  left: -1.5vw;
  text-align: center;
  top:0;

}

.updatetudent #promotion-spec{
  position: relative;
  left: -1.2vw;
  text-align: center;
  top:0;

}

.updatetudent button{
  position: relative;
  top: 0;
}
/* ADD MATERIAL*/

.addMaterial form div{
  margin: 20px;
  position: relative;
  top:2vw;
  padding:0.3vw;

}

.addMaterial form input, .addMaterial form select,textarea{
  position: relative;
  top:-0.7vw;
  z-index: 200;
}
.addMaterial form input{
  width: 16vw;

}
.addMaterial form label{
  position: relative;
  top:0;
  z-index: 200;
  font-size: 2vw;
}


textarea{
  resize: none;
  height: 10vh;
  width: 16vw;
  font-size: 1vw;  
}

#generateBC{
  position: relative;
  top:-37.7vw;
  left:16vw;
  z-index: 200;

}

.addMaterial #codeBarre{
  position: relative;
  left: -2vw;
  width: 16vw;
}

.addMaterial #name{
  position: relative;
  left: 0.7vw;
  width: 16vw;
}

.addMaterial #description{
  position: relative;
  left: -1.9vw;
}

.addMaterial #type,.addMaterial #fournisseur{
  width: 16vw;
  text-align: center;
}

.addMaterial #type{
  position: relative;
  left: 1.2vw;
}
.addMaterial #fournisseur{
  position: relative;
  left: -1.5vw;
}

.addMaterial #dateAchat{
  position: relative;
  left: -1.3vw;
  text-align: center;

}

.addMaterial #prixAchat{
  position: relative;
  left: -1.1vw;
  text-align: center;

}

.addMaterial .bouton_update{
  position: relative;
  top:0;
}